version: "3.8"

services:

  mariadb:
    image: mariadb:10.11
    container_name: mariadb

    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: joomengine
      MYSQL_USER: joomengine
      MYSQL_PASSWORD: joomengine

    restart: always


  joomla:
    image: octoleo/joomengine:latest
    container_name: joomla

    ports:
      - "8080:80"

    environment:
      JOOMLA_DB_HOST: mariadb
      JOOMLA_DB_USER: joomengine
      JOOMLA_DB_PASSWORD: joomengine
      JOOMLA_DB_NAME: joomengine
      JOOMLA_DB_TYPE: mysqli

      JOOMLA_SITE_NAME: "JoomEngine Demo"
      JOOMLA_ADMIN_USER: "Admin"
      JOOMLA_ADMIN_USERNAME: admin
      JOOMLA_ADMIN_PASSWORD: admin123!
      JOOMLA_ADMIN_EMAIL: admin@example.com

    depends_on:
      - mariadb

    restart: always
